/* Font imports */
@font-face {
	font-family: Plateia;
	src: url("https://lcfr.vkyd.in/fonts/Plateia-Bold.ttf");
}

@font-face {
	font-family: Poppins;
	font-weight: 400;
	src: url("https://lcfr.vkyd.in/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: Poppins;
	font-weight: 400;
	font-style: italic;
	src: url("https://lcfr.vkyd.in/fonts/Poppins-Italic.ttf");
}

@font-face {
	font-family: Poppins;
	font-weight: 700;
	src: url("https://lcfr.vkyd.in/fonts/Poppins-Bold.ttf");
}

/* Variables */
:root {
	/* Core tones */
	--dark-smoke: #1D2022;
	--text-gray: #AAAAAA;
	--almost-white: #F8F8F8;

/* Pastels */
	--hot-pink: #E8026A
}

/* Responsive font sizing */
h1 {
	font-size: calc(1.375rem + 1.5vw)
}
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 2.5rem;
	}
}
/* Special h1 sizing for nav logo */
nav #logo {
	font-size: 25px
}

h2 {
	font-size: calc(1.325rem + 0.9vw)
}
@media screen and (min-width: 1200px) {
	h2 {
		font-size: 2rem;
	}
}

h3 {
	font-size: calc(1.285rem + 0.42vw)
}
@media screen and (min-width: 1200px) {
	h3 {
		font-size: 1.6rem;
	}
}

h4 {
	font-size: calc(1.255rem + 0.06vw)
}
@media screen and (min-width: 1200px) {
	h4 {
		font-size: 1.3rem;
	}
}

h5 {
	font-size: 1.1rem
}

h6 {
	font-size: 1rem
}

p {
	font-size: 0.85rem
}
@media screen and (min-width: 1200px) {
	p {
		font-size: 0.9rem;
	}
}

a {
	text-decoration: none;
}

/* General body CSS */
body {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	background-color: var(--dark-smoke);
	font-family: Poppins;
	font-weight: 400;
	color: var(--text-gray)
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

/* Classes */
.width-restriction {
	width: 90%;
	margin: 0 auto
}

.center {
	text-align: center
}

.bold {
	font-weight: 700
}

.italic {
	font-style: italic
}

.head {
	font-family: Plateia;
}